params {
    genome                   = null
    target_bed               = null
    annotation               = null
    outdir                   = './results'
    sample_id                = 'sample'
    
    primer_length            = 20
    min_tm                   = 57.0
    max_tm                   = 63.0
    min_gc                   = 40.0
    max_gc                   = 60.0
    
    min_binding_sites        = 100
    max_binding_sites        = 1000
    
    min_amplicon_size        = 100
    max_amplicon_size        = 500
    min_amplicons_per_pair   = 100
    max_amplicons_per_pair   = 1000
    
    min_primer_pairs         = 15
    max_primer_pairs         = 50
    target_snps              = 50000
    min_snps                 = 20000
    
    extension_time           = 30
    polymerase               = 'Q5'
    
    publish_dir_mode         = 'copy'
    
    help                     = false
    version                  = false
    validate_params          = true
    show_hidden_params       = false
    
    max_memory               = '128.GB'
    max_cpus                 = 16
    max_time                 = '240.h'
}

includeConfig 'conf/base.config'
includeConfig 'conf/modules.config'

profiles {
    debug {
        dumpHashes             = true
        process.beforeScript   = 'echo $HOSTNAME'
        cleanup                = false
    }
    
    conda {
        conda.enabled          = true
        docker.enabled         = false
        singularity.enabled    = false
    }
    
    docker {
        docker.enabled         = true
        conda.enabled          = false
        singularity.enabled    = false
        docker.runOptions      = '-u $(id -u):$(id -g)'
    }
    
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        conda.enabled          = false
        docker.enabled         = false
    }
    
    test {
        params {
            max_cpus   = 2
            max_memory = '6.GB'
            max_time   = '6.h'
        }
    }
}

env {
    PYTHONNOUSERSITE = 1
    R_PROFILE_USER   = "/.Rprofile"
    R_ENVIRON_USER   = "/.Renviron"
}

process.shell = ['/bin/bash', '-euo', 'pipefail']

manifest {
    name            = 'nf-multiplex-kseq-ontr'
    author          = 'Your Name'
    homePage        = 'https://github.com/your-org/nf-multiplex-kseq-ontr'
    description     = 'Multiplex PCR primer design for k-seq ONTR sequencing'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=25.04.0'
    version         = '1.0.0'
}
